.bg-image{
    background-image: url("./images/Burger.svg");
    min-height: 100vh;
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    position: relative;
}

@media(max-width: 768px) {
    .bg-image{
        min-height: 38vh;
    }
}

.btn-bg{
    background-color: #FF006E !important; 
}

.search-bg{
    background-color: #fff;
}

.font-family{
    font-family:'Jost';
}

.Take-size{
font-size: 48px;
}

.size-btn{
    font-size: 22px;
}

.para{
    font-size: 18px;
}

.popular{
font-size: 30px;
}

@media(max-width: 768px) {
    .img-align{
        text-align: center;
    }
}

.cards-bg{
    background: #FEFFFF;
    box-shadow: 0px 0px 16px rgba(0, 0, 0, 0.03), 0px 33px 32px rgba(50, 44, 44, 0.05), 0px 1px 1px rgba(82, 73, 73, 0.1);
    border-radius: 32px;
}

.cards-color{
    color: #FF006E;
}

.How-padding{
    padding: 100px 0 0 0;
}

.How{
    font-size: 50px;
}

.cards-padding{
    padding: 50px 0 150px 0;
}

.background-image{
background-image: url("./images/Background.png");
min-height: 75vh;
width: 100%;
background-repeat: no-repeat;
background-size: cover;
background-position: center;
position: relative;
border-radius: 25px;
}

.bg-color-btn{
    background-color: #283646;
}

.food-delivery{
    padding:50px 0 0 50px;
}

.heading{
    font-size: 45px;
}

.button{
    font-size: 15px;
}

.text{
position: absolute;
top: 200px;
color: #fff;
font-family: 'jost';
}
.size{
    font-size: 25px;
}
.pic-para{
    position: absolute;
    top: 320px;
    color:#FF006E ;
    font-family: 'jost';
    font-size: 20px;
}

.food-lovers{
    font-family: 'jost';
    font-size: 48px;
    padding: 80px 0 0 0;
}

.food-lovers-para{
font-size: 18px;
font-family: 'jost';
}

.position-round{
    position: absolute;
    top: 25%;
    left: 47%;
}

.food-list{
    padding: 100px 0 50px 0;
}

.list-size{
    font-size: 20px;
    font-family: 'jost';
}

.footer-bg{
    background-color: #F8F9FA;
    font-size: 15px;
    font-family: 'jost';
}
 
.cols-padding{
    padding: 100px 0 0 0;
    font-family: 'jost';
}
@media(max-width: 768px) {
    .text-align{
        text-align: center;
    }
}

.text-aligns{
    text-align: center;
}